html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body {
    font: 'Source Han Sans CN';
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

a:active,
a:focus {
    outline: none;
    color: inherit;
}

header {
    width: 100%;
    height: 115px;
    box-sizing: border-box;
    padding: 0 40px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 99;
}

.logo {
    cursor:pointer;
    position: relative;
    display: flex;
    align-items: center;
}

.logo>img {
    width: auto;
    height: 70px;
    margin-bottom:-6px;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menuc {
    display: flex;
    justify-content: space-between;
    font-size: 26px;
    height: 40px;
    line-height: 40px;
}

.navitem {
    margin: 0 24px;
}

.lang {
    width: 74px;
    display: flex;
    align-items: center;
    z-index: 99;
}

.langitem {
    display: none;
    height: 40px;
    line-height: 40px;
    align-items: center;
}

.langitem img {
    width: 30px;
    height: 20px;
}

.more {
    width: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: none;
    z-index: 99;
    cursor:pointer;
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background: white;
    margin: 2px 0;
}

.footerc {
    width:100%;
    padding:60px 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
}
.footerlogo {
    width: 150px;
    filter: invert(1);
    margin-right: 100px;
}

.footerlogo>img {
    width: 150px;
    height: auto;
    margin-top:-10px;
}
.footerinfo{
    width:600px;
    font-size: 14px;
    line-height: 26px;
    flex-grow: 1;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    
}
.sinfo{
    cursor:pointer;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
}
.tops{
    font-size: 25px;
    font-weight: 400;
}
.otherinfo{
    width:100%;
    font-size: 16px;
    font-weight: 400;
    background:#1B2A4C;
    line-height: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.binfo{
    color:white;
    flex-shrink: 0;
}
.footerbanner{
    width:100%;
    height:660px;
    background:url(/src/assets/banner/banner07.png);
    background-size: cover;
    background-position: center;
}
.centertitle{
    width:100%;
    height:660px;
    font-weight: 700;
    text-align: center;
    font-size: 5vw;
    color:white;
    line-height: 660px;
    background:linear-gradient(rgba(234,238,249) 5%,rgba(0,0,0,0) 99%);
}
.title{
    font-size: 5vw;
    font-weight: 700;
    letter-spacing: 6px;
}
.subtitle{
    font-size: 1.3vw;
    font-weight: 500;
}
.sectitle{
    font-size: 35px;
    font-weight: bold;
}
@media screen and (max-width:1000px) {
    header{
        padding: 0 20px;
    }
    .menuc{
        position: fixed;
        width:180px;
        height:100vh;
        top:0;
        right:-180px;
        box-sizing: border-box;
        background:black;
        display: none;
        padding: 60px 0;
        z-index: 90;
        transition: all .3s ease-in-out;
    }
    .navitem{
        margin: 20px;
        display: flex;
        justify-content: flex-end;
    }
    .more{
        display: block;
    }
    .footerc{
        flex-wrap: wrap;
        padding:30px 30px;
    }
    .centertitle{
        font-size: 66px;
    }
    .footerlogo{
        margin-bottom: 30px;
    }
    .footerinfo{
        width:100%;
        display: flex;
        flex-wrap: wrap;
    }
    .footersec{
        margin-bottom:10px;
    }
    .sinfo{
        flex-shrink: 0;
    }
    .title{
        font-size: 66px;
    }
    .subtitle{
        font-size: 18px;
    }
}
@media screen and (max-width:800px) {
    .centertitle{
        font-size: 36px;
    }
}